:root,
:root.light {
  --background: #fff;
  --foreground: #000;
  --primary-color: #86ff18;
  --gray-color: #edebeb;
  --success-color: #61b752;
}

:root.dark {
  --background: #080808;
  --foreground: #fff;
  --primary-color: #d32f2f;
  --gray-color: #262626;
  --success-color: #61b752;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("images/header-banner.png");
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
}

.container {
  padding: 10px 10%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  margin: -10px -10%;
  padding: 10px 10%;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  z-index: 1;
}

.logo {
  font-size: 48px;
  font-family: 'Silkscreen', sans-serif;  
  color: inherit;
  text-decoration: none;
}

.logo span {
  font-family: 'Silkscreen', sans-serif;
  color: var(--primary-color);
}

.navbar ul {
  margin-right: 30px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.navbar ul li a {
  color: var(--foreground);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.navbar ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.navbar ul li a:hover:after {
  width: 100%;
}

.theme-btn {
  cursor: pointer;
  color: var(--primary-color);
}

.navbar div {
  position: absolute;
  right: 10%;
}

i.theme-btn {
  font-size: 25px;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: inline-block;
  animation: animName 2s linear infinite;
}

.navbar.sticky {
  padding: 5px 10%;
  background: var(--primary-color);
}

.navbar.sticky .logo span {
  color: var(--background);
}

.navbar.sticky .theme-btn {
  color: var(--background);
}

.navbar.sticky ul li a::after {
  background: var(--background);
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-text {
  font-size: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: var(--primary-color);
}

/* -----------------------about --------------------- */

#about {
  padding: 80px 0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: var(--foreground);
  padding-bottom: 18px;
}

.tab-titles {
  display: flex;
  margin: 20px 0 35px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--primary-color);
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ---------------------------------------------services------------------------- */

#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}

.services-list div {
  background: var(--gray-color);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: var(--foreground);
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: var(--primary-color);
  transform: translateY(-10px);
}

/* -----------------------------------------------portfolio------------------------- */

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--primary-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: var(--foreground);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--primary-color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--foreground);
  transition: background 0.5s;
  font-weight: 600;
}

.btn:hover {
  background: var(--primary-color);
}

/* ----------------------------------------------contact--------------------------- */

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: var(--primary-color);
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--primary-color);
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--primary-color);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: var(--primary-color);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: var(--gray-color);
  padding: 15px;
  margin: 15px 0;
  color: var(--foreground);
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: var(--gray-color);
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: var(--primary-color);
}

/* -------------------------------------------------css for small screen------------------- */

.navbar div .fas,
.navbar ul .fas {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #header {
    background-image: none;
  }
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .navbar div {
    position: static;
    display: flex;
    gap: 30px;
  }

  .navbar div .fas,
  .navbar ul .fas {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  .navbar ul {
    background: var(--primary-color);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    margin: 0;
  }

  .navbar ul li {
    display: block;
    margin: 25px;
  }

  .navbar ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: var(--success-color);
  margin-top: -40px;
  display: block;
}

#button {
  display: inline-block;
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

#button:hover,
#button:active {
  cursor: pointer;
  background: var(--foreground);
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--foreground);
}

#button:hover:after,
#button:active:after {
  color: var(--primary-color);
}

#button.show {
  opacity: 1;
  visibility: visible;
}
